<div class="container-fluid">
    <hr />
    <footer>
        <div class="row">
            <div class="col">
                @await Html.PartialAsync("~/Views/Shared/Partial/SelectLanguagePartial.cshtml")
            </div>
            <div class="col text-center mt-2">
                &copy; Strive, @DateTime.Now.Year
            </div>
        </div>
    </footer>
</div>
