@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options

@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    // Получение сервиса IRequestCultureFeature, чтобы знать текущую культуру
    // и установить соответствующий выбор в списке select
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();

    // Получение списка поддерживаемых в приложении культур
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem
        {
            Value = c.Name,

            // Первый символ для всех культур ставится в верхний регистр (по умолчанию не для всех)
            Text = c.NativeName[0].ToString().ToUpper() + c.NativeName.Substring(1)
        })
        .ToList();
}

<form id="selectLanguage"
      method="post"
      class="form-inline"
      asp-controller="Home"
      asp-action="SetLanguage"
      asp-route-returnUrl="@Context.Request.Path">

    <label class="mr-lg-2 mr-md-2 mr-sm-2">@Localizer["lblChooseLanguage"]:</label>

    <select class="form-control mr-lg-2 mr-md-2 mr-sm-2 mb-lg-0 mb-md-0 mb-sm-0 mb-2"
            name="culture"
            asp-for="@requestCulture.RequestCulture.UICulture.Name"
            asp-items="cultureItems"></select>

    <input type="submit"
           value="@Localizer["btnSaveLanguage"]"
           class="btn btn-outline-primary" />
</form>
