<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.TitlePrimary - @ViewBag.TitleSecondary</title>
</head>
<body>
    <h1>MainLayout</h1>
    <div>
        @RenderBody()
    </div>
</body>
</html>
