<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["TitlePrimary"] - @ViewData["TitleSecondary"]</title>
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    @await Html.PartialAsync("~/Views/Shared/Partial/Navbar/_Navbar.cshtml")

    <div id="app" class="container-fluid">
        @RenderBody()
    </div>

    @await Html.PartialAsync("~/Views/Shared/Partial/Footer/_Footer.cshtml")

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script src="~/build/app.js"></script>
</body>
</html>
