<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewData["TitlePrimary"] - @ViewData["TitleSecondary"]</title>
	<link rel="shortcut icon" href="#" />
	<link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/css/styles.css" rel="stylesheet" />
	<link href="~/css/validation.css" rel="stylesheet" />
</head>
<body>
	@await Html.PartialAsync("~/Views/Shared/Partial/Navbar/_Navbar.cshtml")

	<div id="app" class="container-fluid">
		@RenderBody()
	</div>

	@await Html.PartialAsync("~/Views/Shared/Partial/Footer/_Footer.cshtml")

	<script src="~/lib/jquery/jquery.min.js"></script>
	<script src="~/lib/jquery/jquery.validate.min.js"></script>
	<script src="~/lib/jquery/jquery.validate.unobtrusive.min.js"></script>
	<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="~/js/init-jquery-validator.js"></script>

	@RenderSection("Scripts", false)
</body>
</html>
