<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["TitlePrimary"] - @ViewData["TitleSecondary"]</title>

    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <footer>
        <div>
            <p>&copy; Strive, @DateTime.Now.Year</p>
        </div>

        <div>
            @await Html.PartialAsync("SelectLanguagePartial")
        </div>
    </footer>
</body>
</html>
