<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand"
       asp-controller="Home"
       asp-action="Index">Strive</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
        @await Html.PartialAsync("~/Views/Shared/Partial/Navbar/_SelectLanguage.cshtml")

        @if (User.Identity.IsAuthenticated)
        {
            // Если пользователь вошел в систему, выводится пользовательская панель
            @await Html.PartialAsync("~/Views/Shared/Partial/Navbar/_UserPanel.cshtml")
        }
        else
        {
            // Иначе - выводится гостевая панель
            @await Html.PartialAsync("~/Views/Shared/Partial/Navbar/_UserPanelGuest.cshtml")
        }
    </div>
</nav>
