@*<div class="d-flex flex-fill justify-content-lg-end">
        <div>Username</div>
    </div>*@

@*<ul class="navbar-nav mr-auto mt-2 mt-lg-0 d-flex flex-row-reverse">
        <li class="nav-item">
            <img src="~/images/navbar/test.png" height="25" width="25"/>
        </li>
        <li class="nav-item">@await Html.PartialAsync("~/Views/Shared/Partial/UserPanel.cshtml")</li>
    </ul>*@

<ul class="navbar nav mr-auto">
    <li class="nav-item dropdown">
        <img src="~/images/navbar/test.png"
             @*width="50" height="50" *@
             id="navbarImgDropdown"
             class="nav-link dropdown-toggle btn btn-outline-primary"
             role="button"
             data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false" />

        <div class="dropdown-menu" aria-labelledby="navbarImgDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           href="#" id="navbarDropdown"
           role="button"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
            username/guest
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </li>
</ul>
