@*<div class="d-flex flex-fill justify-content-lg-end">
        <div>Username</div>
    </div>*@

@*<ul class="navbar-nav mr-auto mt-2 mt-lg-0 d-flex flex-row-reverse">
        <li class="nav-item">
            <img src="~/images/navbar/test.png" height="25" width="25"/>
        </li>
        <li class="nav-item">@await Html.PartialAsync("~/Views/Shared/Partial/UserPanel.cshtml")</li>
    </ul>*@

<ul class="navbar nav mr-auto">
    <li class="nav-item dropdown">
        <img src="~/images/navbar/test.png"
             @*width="50" height="50" *@
             id="navbarImgDropdown"
             class="nav-link dropdown-toggle btn btn-outline-primary"
             role="button"
             data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false" />

        <div class="dropdown-menu" aria-labelledby="navbarImgDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a id="navbarUsernameDropdown"
           class="nav-link dropdown-toggle"
           href="#"
           role="button"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
            @User.Identity.Name
        </a>
        
        <form class="dropdown-menu"
              aria-labelledby="navbarUsernameDropdown"
              method="post"
              asp-controller="Account"
              asp-action="Logout">
            <input type="submit"
                   class="dropdown-item"
                   value="@SharedLocalizer["Account-Text-Logout"]"/>
        </form>

        @*<div class="dropdown-menu" aria-labelledby="navbarUsernameDropdown">
            <a class="dropdown-item"
               asp-controller="Account"
               asp-action="Logout">@SharedLocalizer["Account-Text-Logout"]</a>
        </div>*@

        @*<div class="dropdown-menu" aria-labelledby="navbarUsernameDropdown">
            <a class="dropdown-item" href="#">Action1</a>
            <a class="dropdown-item" href="#">Action2</a>
        </div>*@
    </li>
</ul>
