@model string
@*@todo стилизовать*@
<div>
    <p>
        <span>@Localizer["Text-ConfirmationInfo"]</span>
        <span>@Model.</span>
    </p>
    <p>
        @Localizer["Text-ConfirmationRequest"].
    </p>
</div>
