<div class="mt-lg-3 mt-md-3 mt-sm-3 mt-3">
    <div class="p-2 text-center">
        <div>@Localizer["Text-ConfirmationInfo"]</div>
        <div>
            <span>
                <a class="card-link"
                   asp-controller="Account"
                   asp-action="Login">@SharedLocalizer["Account-Text-Login"]</a>
            </span>
            <span>@SharedLocalizer["Account-Text-LoginDestination"]</span>
        </div>
    </div>
</div>